<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CloudBaseEnvId" value="env-pnqsaynl" />
    
    <!--如果value为空匿名登录，否则使用ticket登录-->
    <!--<add key="CloudBaseTicketUrl" value="https://smallapp-test.gileadchina.cn/TCBTicket/Ticket?env=env-pnqsaynl"/>-->
    <add key="CloudBaseTicketUrl" value="" />
    
    <add key="ConnectionString" value="Data Source=172.31.4.133;Initial Catalog=DB_Hospital;User ID=zwang;Password=gSs315@M" />
    
    <!--每隔5秒执行一次：0/5 * * * * ?-->
    <!--每天12:30执行一次：0 30 12 * * ?-->
    <add key="Giead_HcvFindHospital_Trigger" value="0 15 15 * * ?" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
