@page "/fetchdata2"

@using Oyang.Identity.BlazorApp.Data
@inject WeatherForecastService ForecastService
@inject IJSRuntime JSRuntime;

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<button class=" = btn btn-primary" @onclick="StateHasChanged">重新渲染</button>
<button class=" = btn btn-primary" @onclick="Jiayi">加一</button>

<Counter @ref="Counter1"></Counter>


@code {
    private Counter Counter1;

    private async void Jiayi()
    {
        if (Counter1 != null)
        {
            await InvokeAsync(() =>
            {
                Counter1.IncrementCount();
                StateHasChanged();
            });

        }
    }

    private bool _jsOk = false;
    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender && !_jsOk)
        {
            _jsOk = await JSRuntime.InvokeAsync<bool>("site.test");
        }
    }

}
