@page "/fetchdata2"

@using Oyang.Identity.BlazorApp.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
<BsDataGrid TItem="WeatherForecast" Items="forecasts">
    <BsDataGridColumn>col1</BsDataGridColumn>
    <BsDataGridColumn>col2</BsDataGridColumn>
    <BsDataGridColumn>col3</BsDataGridColumn>
    <BsDataGridColumn>col4</BsDataGridColumn>
</BsDataGrid>

}


@code {
    private WeatherForecast[] forecasts;

    protected override async void OnInitialized()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }


}
