@page "/Account/Login"
@using System.Security.Claims;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Authentication;
@layout BlankLayout
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    /*html,
    body {
      height: 100%;
    }

    body {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }*/

    .form-signin {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: auto;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }

        .form-label-group > input,
        .form-label-group > label {
            height: 3.125rem;
            padding: .75rem;
        }

        .form-label-group > label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0; /* Override default `label` margin */
            line-height: 1.5;
            color: #495057;
            pointer-events: none;
            cursor: text; /* Match the input under the label */
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out;
        }

        .form-label-group input::-webkit-input-placeholder {
            color: transparent;
        }

        .form-label-group input:-ms-input-placeholder {
            color: transparent;
        }

        .form-label-group input::-ms-input-placeholder {
            color: transparent;
        }

        .form-label-group input::-moz-placeholder {
            color: transparent;
        }

        .form-label-group input::placeholder {
            color: transparent;
        }

        .form-label-group input:not(:placeholder-shown) {
            padding-top: 1.25rem;
            padding-bottom: .25rem;
        }

            .form-label-group input:not(:placeholder-shown) ~ label {
                padding-top: .25rem;
                padding-bottom: .25rem;
                font-size: 12px;
                color: #777;
            }

    /* Fallback for Edge
    -------------------------------------------------- */
    @@supports (-ms-ime-align: auto) {
        .form-label-group > label {
            display: none;
        }

        .form-label-group input::-ms-input-placeholder {
            color: #777;
        }
    }

    /* Fallback for IE
    -------------------------------------------------- */
    @@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .form-label-group > label {
            display: none;
        }

        .form-label-group input:-ms-input-placeholder {
            color: #777;
        }
    }
</style>

<form class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" src="https://v4.bootcss.com/docs/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">扫码挪车服务平台</h1>
        <p>石盛植之灵，植绽石之魂。          ——石语坊</p>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputLoginName" class="form-control" placeholder="" required="" autofocus="" @bind="_loginName">
        <label for="inputLoginName">登录名</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="" required="" @bind="_password">
        <label for="inputPassword">密码</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" @onclick="SignIn">登录</button>
    @if (!string.IsNullOrWhiteSpace(_errorMessage))
    {
        <div class="alert alert-danger" role="alert">@_errorMessage</div>
    }
    <p class="mt-5 mb-3 text-muted text-center">© 2020</p>
</form>

@code {
    private string _errorMessage;
    private string _loginName;
    private string _password;

    private void SignIn()
    {
        if (string.IsNullOrWhiteSpace(_loginName))
        {
            _errorMessage = "登录名不能为空";
            return;
        }
        if (string.IsNullOrWhiteSpace(_password))
        {
            _errorMessage = "密码不能为空";
            return;
        }

        if (_loginName != "shiyufang")
        {
            _errorMessage = "登录名不存在";
            return;
        }
        var password = DateTime.Now.ToString("yyyyMMdd");
        if (_password != password)
        {
            _errorMessage = "密码不正确";
            return;
        }

        var claims = new List<Claim>
    {
            new Claim("LoginName", _loginName)
        };

        HttpContextAccessor.HttpContext.SignInAsync(new ClaimsPrincipal(new ClaimsIdentity(claims, "Cookies", "user", "role")));

        NavigationManager.NavigateTo("/");
        //Microsoft.AspNetCore.Authentication.AuthenticationService
        //if (Url.IsLocalUrl(returnUrl))
        //{
        //    return Redirect(returnUrl);
        //}
        //else
        //{
        //    return Redirect("/");
        //}
        }

}
