@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table">
    <tr>
        <td>
            <a href="/api/Database/GenerateDatabase" target="_blank">生成数据库</a>
        </td>
    </tr>
</table>