
<td>@ChildContent</td>

@code {
    [CascadingParameter]
    public BsDataGridBasic BsDataGridBasic { get; set; }
    [Parameter]
    public string Header { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public bool AllowSort { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public string SortFieldIcon { get; set; }

    protected override void OnInitialized()
    {
        BsDataGridBasic.AddColumn(this);
    }
}
